# Script para generar la BDD a partir de un archivo CSV

In [1]:
#Librerías
import pandas as pd
import pymysql
import sqlalchemy as db

In [2]:
#Se lee el archivo csv creado anteriormente: 1_Datos_BDD
df_partebdd = pd.read_csv("1_Datos_BDD.csv", converters={'cedula': str})
df_partebdd       #Se imprime el dataframe

,cedula,fechaingresoEmpresa,tituloTercerNivel,nombreEmpresa,numeroTarjetaCredito
0,2451704974,2014-03-15,Licenciado/a,Desarrollos Innovadores,3167-6140-8146-7740
1,0681759200,2008-12-09,Licenciado/a,Grupo Tecnológico,3857-9253-0028-8989
2,1570342897,1960-05-03,Doctor/a,Grupo Tecnológico,0223-4580-0575-6474
3,0319307751,1970-01-12,Ingeniero/a,Soluciones Integrales,5592-8680-4874-0618
4,1944437987,2020-07-18,Ingeniero/a,Grupo Tecnológico,9769-4182-6886-5301
...,...,...,...,...,...
995,1077555266,1983-07-06,Licenciado/a,Grupo Tecnológico,1095-2167-4269-4885
996,0143821276,1999-03-04,Doctor/a,Soluciones Integrales,9580-5678-7387-4353
997,0328303960,1970-05-06,Licenciado/a,Soluciones Integrales,3784-7058-1085-7788
998,0312120570,1998-10-21,Licenciado/a,Desarrollos Innovadores,3450-2002-5662-9539
999,3079830417,1969-04-23,Doctor/a,Desarrollos Innovadores,7714-5698-0007-0177

In [3]:
#Se crean las variables para la conexion con la base de datos MySQL
database_username ='root'
database_password ='26061998santiago'
database_ip='localhost'
database_name='personas'    #La base de datos creada en MySQL se llama 'personas'
database_connection=db.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format(database_username, database_password, database_ip, database_name))
#Se crea la conexion con la base de datos MySQL
connection=database_connection.connect()
metadata=db.MetaData()

In [4]:
#Se crea la tabla 'datospersona' en la base de datos 'personas' a partir del dataframe df_partebdd
df_partebdd.to_sql('datospersona',connection)

1000